/* nav related style */
h5 {color: #FFF;text-align: center;font-family: Merriweather;font-size: 36px;font-style: normal;padding: 50px 50px 59px 50px;}
h3  {color: #FFF;text-align: center;font-family: Merriweather;font-size: 100px;font-style: normal;padding: 50px 50px 59px 50px;}
/*header related style */
.header{background-image: url('../resources/Banner\ Image.png');background-repeat: no-repeat;background-position: center;}
/*span related styles*/
h2  {text-align: center;color: red;font-size: 90px;font-family: inter;font-style: normal;}
p {color: red;text-align: center;font-size: small;font-family: Inter;font-style: normal;}
h4 {color: #070211;text-align: center;font-size: 50px;font-family: Inter;font-style: normal;}
style {background-color: beige;}
style {padding: 1600px  7300px;}